* {
    font-family: 'SF Pro';
    box-sizing: border-box;
}

body, html, main {
    margin: 0;
    width: 100vw;
    height: 100vh;
}

.chat {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    left: 25vw;
    max-width: 864px;
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
}

.contact-profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.75rem;
    padding-left: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-right: 1.3rem;
    background: #444;
    border-radius: 2rem;
}

.contact-img {
    width: 3rem;
    height: 3rem;
}

.profile-text {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.contact-name {
    font-size: 15px;
    font-weight: 500;
    margin: 0;
    color: white;
}

.contact-role {
    font-size: 13px;
    color: #ccc;
    margin: 0;
}

.time {
    color: #555;
    font-size: 15px;
    font-weight: 500;
}

.questions-wrap {
    position: relative;
    width: fit-content;
}

#questions {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    position: fixed;
    top: 90%;
    left: 25vw;
    width: 50vw;
    max-width: 864px;
    margin: auto;
}

.question {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    justify-content: space-between;
    align-items: center;
    background: #4d4d4d;
    color: white;
    padding: 0.75rem;
    font-size: 15px;
    border-radius: 0.75rem;
    cursor: pointer;
    margin: 0;
    text-align: left;
    width: 100%;
    line-height: 140%;
}

.question:hover {
    background: #333;
}

.send-arrow {
    scale: 1.1;
    margin: 0;
}

.question-text {
    margin: 0;
}

#chat-body {
    padding-top: 2rem;
    height: 72vh;
    overflow: hidden;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.message-text {
    margin: 0;
}

.received {
    background: #eee;
    font-size: 1rem;
    padding: 0.75rem;
    border-radius: 0.75rem;
    line-height: 135%;
    display: flex;
    flex-direction: row;
    gap: 0;
    flex: none;
    overflow: visible;
    position: relative;
    max-width: 80%;
}

.received .tail {
    position: absolute;
    bottom: 0;
    left: -10px;
    width: 20px;
    height: 20px;
    background: #eee;
    border-bottom-right-radius: 15px;
    clip-path: polygon(0 0, 100% 0, 100% 100%);
}

.sent {
    background: #1F8AFF;
    color: white;
    font-size: 1rem;
    padding: 0.75rem;
    border-radius: 0.75rem;
    line-height: 135%;
    display: flex;
    flex-direction: row;
    gap: 0;
    flex: none;
    overflow: visible;
    width: fit-content;
    margin-right: 0;
    margin-left: auto;
    position: relative;
    max-width: 80%;
}

.sent .tail {
    position: absolute;
    bottom: 0;
    right: -10px;
    width: 20px;
    height: 20px;
    background: rgb(0, 132, 255);
    border-bottom-left-radius: 15px;
    clip-path: polygon(100% 0, 0 0, 0 100%);
}

.loading-message {
    display: flex;
    gap: 0.25rem;
    justify-content: left;
    align-items: center;
    margin-left: 0;
    margin-right: auto;
    width: fit-content;
    background: #eee;
    font-size: 1rem;
    padding: 0.75rem;
    border-radius: 0.75rem;
    flex: none;
}

.elipsis {
    width: 0.5rem;
    height: 0.5rem;
    background-color: #888;
    border-radius: 50%;
    opacity: 1;
    transition: opacity 0.5s;
}

.elipsis-0 { opacity: 0.1; }
.elipsis-1 { opacity: 1; }

.link-preview {
    word-wrap: break-word;
    display: inline-block;
    max-width: 88%;
}

#chat-body::before {
    content: '';
    position: absolute;
    top: 0;
    right: -1.25rem; /* Adjust as needed to move the scrollbar outside */
    width: 20px;
    height: 100%;
    background: transparent;
    pointer-events: none;
}

#chat-body::-webkit-scrollbar {
    width: 8px; /* Adjust as needed */
}

#chat-body::-webkit-scrollbar-track {
    background: #f1f1f1;
}

#chat-body::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

#chat-body::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.project-img-wrap {
    width: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 0.5rem;
    margin-top: 0.375rem;
}

.project-img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 0.5rem;
}

.icons {
    display: flex;
    flex-direction: row;
    gap: 1.25rem;

    .contact-icon {
        scale: 1.1;
        color: black;
    }
}

@media only screen and (max-width: 648px) {
    .chat {
        width: 80vw;
        margin-left: 10vw;
        margin-right: 10vw;
        padding: 0;
        left: 0;
    }

    #chat-body {
        margin: auto;
        scroll-behavior: smooth;
    }

    #questions {
        width: 80vw;
        left: 10vw;
        top: 88%;
    }

    .top {
        .time {
            display: none;
        }

        padding-bottom: 1rem;
    }

    .received, .sent {
        max-width: 90%;
    }

    .project-img {
        height: 174px;
    }
}

.text-link {
    color: black;
}

.text-link:hover {
    color: #007bff;
}
